# Исключение Docker-файлов
*.log
*.pid
*.seed
*.pid.lock

# Docker-образы и контейнеры
**/docker-compose.override.yml
**/docker-compose.local.yml
**/.env
.env

# Docker volumes
**/var/lib/docker
**/tmp/docker-*

# Kubernetes / Minikube
.kube/
.minikube/

# Kubernetes файловые конфигурации
*.kubeconfig
*.yaml~ # Резервные файлы
*.bak

# Исключение IDE и редакторов
.idea/
.vscode/
*.swp

# Системные файлы
.DS_Store
Thumbs.db
